# Timezone for logs and scheduling
TZ=America/Chicago

# Automatically remove old, dangling images
WATCHTOWER_CLEANUP=true

# Check for updates every 86,400 seconds (24 hours)
# WATCHTOWER_POLL_INTERVAL=86400

# Alternative to INTERVAL: run at exactly 4:00 AM daily
WATCHTOWER_SCHEDULE=0 0 4 * * *
